.navbar {
    background-color: #455A64 !important; 
}

.navbar-brand {
    color: white !important;
}

.main-header {
    margin-top: 25px;
    text-align: center;
}

.app-button {
    cursor: pointer;
}

.result-box {
    padding: 25px;
}

.message-box {
    text-align: center;
}