.navbar {
    background-color: #455A64 !important; 
}

.navbar-brand {
    color: white !important;
}

.main-header {
    margin: 25px 0px;
    color: #647276;
}

.main-link {
    color: #647276 !important;
    font-weight: bold;
}

.api-panel {
    margin: 25px;
}

.app-button {
    cursor: pointer;
}

.result-box {
    padding: 25px;
}

.message-box {
    text-align: center;
}